.titlebar{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr 1fr;

    align-items: center;
    justify-items: center;
    position: absolute;
    top: 0px;

    z-index: 10;
}

.titlebar-title{
    width: auto;
    height: auto;
    grid-column: 2;
    font-weight: 700;
    font-size: 2.5vh;
    margin: 0;
}

#titlebar-back-button{
    width: auto;
    height: auto;
    grid-column: 1;
    filter: brightness(0) saturate(100%)
}